<!doctype html>
<html>
<head>
    <title>HypeLinQ - linking you to your world!</title>
    <meta charset="UTF-8">
    <style>
        .center {
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            text-align: center;
            color: red;
            font-size: 69px;
        }

        h2 {
            text-align: center;
            color: red;
            font-size: 107px;
        }

        body {
            background-color: pink;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1><font face="courier new">Welcome to</font></h1>
    <h2><font face="calibri">HypeLinQ </font></h2>
    <form method="post">
        <input type="text" placeholder="user name" name="username">
        <input type="password" placeholder="password" name="password">
        <br /><br />
        <input type="submit" value="sign up!">
        <input type="submit" value="log in!">
    </form>
</body>

</html>