<!doctype html>
<html>
<head>
    <title>HypeLinQ - linking you to your world!</title>
    <meta charset="UTF-8">
    <style>
        h1 {
            color: red;
            font-size: 77px;
        }
    </style>
</head>

<body>
    <h1><font face="calibri">HypeLinQ </font></h1>
    <h2>Hello, {{user}}</h2>
    <div id="newPost">
        <form method="post">
            <input type="text" placeholder="want to say something?" name="msg" size="100">
            <input type="submit" name="p" value="post!">
        </form>
    </div>
    <div id="follow">
        <form method="post">
            <input type="text" placeholder="want to follow someone?" name="target" size="50">
            <input type="submit" name="search" value="follow!">
        </form>
    </div>
    <div id="posts">
        <form method="post">
            <input type="submit" name="posts" value="See the posts!">
        </form>
    </div>
    <div id="unfollow">
        <form method="post">
            <input type="text" placeholder="want to unfollow someone?" name="person" size="50">
            <input type="submit" name="unfollow" value="unfollow!">
        </form>
    </div>
    <div id="logout">
        <form method="post">
            <input type="submit" name="log out" value="log out">
        </form>
    </div>
    <div id="cancelAccount">
        <form method="post">
            <input type="submit" name="del acc" value="delete account">
        </form>
    </div>

</body>

</html>