<!doctype html>
<html>
<head>
    <title>HypeLinQ - linking you to your world!</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1><font face="calibri">HypeLinQ </font></h1>
    <div id="right">
        <form method="post">
            <input type="text" placeholder="Want to say something?" name="post">
            <input type="submit" value="post!">
        </form>
    </div>
    <div id="left">
        <p>You are following:</p>
    </div>
    <div id="lowerright">
        <p>What others are posting:</p>
    </div>
</body>

</html>