<!doctype html>
<html>
<head>
    <title>HypeLinQ - linking you to your world!</title>
    <meta charset="UTF-8">
    <style>
        h1 {
            color: red;
            font-size: 77px;
        }

        body {
            background-color: pink;
        }
    </style>
</head>

<body>
    <h1><font face="calibri">HypeLinQ </font></h1>

    {% if loggedIn == 1 %}

    <h2>Hello, {{user}}</h2>
    <div id="newPost">
        <form method="post">
            <input type="text" placeholder="want to say something?" name="post" size="100">
            <input type="submit" value="post!">
        </form>
    </div>
    <div id="search">
        <form method="post">
            <input type="text" placeholder="looking for someone?" name="post">
            <input type="submit" value="search!">
        </form>
    </div>
    <div id="following">
        <p>You are following:</p>
    </div>
    <div id="posts">
        <p>What others are posting:</p>
    </div>
    <div id="logout">
        <a href="http://127.0.0.1:13000/logout/">log out</a>
    </div>
    <div id="cancelAccount">
        <form method="post">
            <input type="text" placeholder="type in your username to delete your account" name="user">
            <input type="submit" value="delete account!">
        </form>
    </div>

    {% else %}
    <p>Log in first!</p>
    {% endif %}
</body>

</html>